{% extends 'base.html' %}

{% block content %}
    <table class="table table-striped table-bordered">
        <thead>
            <th></th>
            <th>Poll Question</th>
            <th>Created</th>
            <th>Closes</th>
            <th>Responses</th>
        </thead>
        <tbody>
            {% if polls|length == 0 %}
                <tr>
                    <td colspan="5" class="text-center">There are not yet any polls</td>
                </tr>
            {% else %}
                {% for poll in polls %}
                    <tr>
                        <td class="text-center"><input type="radio" value="{{ poll.id() }}"{{ ' checked' if loop.index == 1 else '' }}></td>
                        <td><b>{{ poll.question() }}</b></td>
                        <td>{{ poll.created()|format_timestamp }}</td>
                        <td class="table-{{ 'danger' if poll.is_closed() else 'success' }}">{{ poll.closes()|format_timestamp }}</td>
                        <td>{{ poll.num_responses() }}</td>
                    </tr>
                {% endfor %}
            {% endif %}

            <tr>
                <td colspan="5">
                    <div class="float-left">
                        <a href="#" class="btn btn-secondary">View Results</a>
                        <a href="#" class="btn btn-warning">Close Now</a>
                        <a href="#" class="btn btn-danger">Delete</a>
                    </div>

                    <div class="float-right">
                        <a class="btn btn-primary" href="#">Create New Poll</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}