{% extends 'base.html' %}

{% block content %}
    <div class="text-center">
        <h2>{{ question }}</h2>
        <br>

        {% for choice in choices %}
            <div class="answer-row w-75">
                <form method="POST" action="{{ url_for('respond.vote', id = id) }}">
                    <input type="hidden" name="choice" value="{{ loop.index }}">
                    <input type="submit" class="btn btn-info poll-answer-choice" value="{{ choice }}">
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock %}